/* Color Palette */
$coal-mine: hsl(273, 85%, 13%);
$illusionist: hsl(271, 12%, 34%);
$eucaplyptus: hsl(150, 100%, 63%);
$ghost-white: hsl(274, 100%, 99%);
$granulated-sugar: hsl(0, 0%, 100%);

/* Font Variables */
$font-body-default: 'Manrope', sans-serif;
$font-display-default: 'Fraunces 144pt', serif;
$font-size-default: 1.6rem;
$line-height-default: 1.6rem;
$letter-spacing-default: 1.6rem;

/* Utilities */
$gutter-vertical-mobile: 3.7rem;
$gutter-horizontal-mobile: 1.6rem;
$gutter-horizontal-tablet: 3.9rem;
$gutter-vertical-desktop: 5.8rem;
$gutter-horizontal-desktop: 16.5rem;