$coal-mine: hsl(273, 85%, 13%);
$illusionist: hsl(271, 12%, 34%);
$eucaplyptus: hsl(150, 100%, 63%);
$ghost-white: hsl(274, 100%, 99%);
$granulated-sugar: hsl(0, 0%, 100%);


$font-body-default: 'Manrope', sans-serif;
$font-display-default: 'Fraunces 144pt', serif;
$font-size-default: 1.6rem;
$line-height-default: 1.6rem;
$letter-spacing-default: 1.6rem;

// $border-radius-default: .3rem;
// $border-radius-button: 10rem;

// $grid-width: 114rem;
// $gutter-vertical: 8rem;
$gutter-vertical-mobile: 3.7rem;
$gutter-horizontal-mobile: 1.6rem;