.footer {
    @include flex(column, space-between, center);
    margin: 7.4rem auto 6.4rem;

    @include responsive-for(tablet) {
        margin: 8rem auto 12rem;
    }

    @include responsive-for(desktop) {
        margin: 6rem auto 11rem;
    }
    &__logo {
        margin-bottom: 5.7rem
    }

    &__social {
        @include flex(row, center, center);

        &--icons {
            &:not(:last-of-type) {
                margin-right: 2.8rem;
            }
        }
    }

}