.footer {
    @include flex(column, space-between, center);
    padding-top: 7.4rem;
    margin-bottom: 6.4rem;

    &__logo {
        margin-bottom: 5.7rem
    }

    &__social {
        @include flex(row, center, center);

        &--icons {
            &:not(:last-of-type) {
                margin-right: 2.8rem;
            }
        }
    }

}