body {
    min-height: 100vh;
    font-size: $font-size-default;
    font-family: $font-body-default;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .logo {
    display: block;
    margin: 0 auto 2rem;
  }

  ul{
    list-style: none;
  }