@mixin heading-large {
    font-family: $font-display-default;
    font-weight: 600;
    font-size: 8rem;
    line-height: 8rem;
    text-align: left;
}

@mixin heading-large-tablet {
    @include heading-large;
    font-size: 6rem;
    line-height: 6rem;
}

@mixin heading-large-mobile {
    @include heading-large;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
}

@mixin heading-medium {
    font-family: $font-display-default;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 6.4rem;
    text-align: left;
}

@mixin heading-medium-tablet {
    @include heading-medium;
    font-size: 4.8rem;
    line-height: 5.6rem;
}

@mixin heading-medium-mobile {
    @include heading-medium;
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: center;
}


@mixin heading-small {
    font-family: $font-display-default;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: left;
}

@mixin heading-small-tablet {
    @include heading-small;
}

@mixin heading-small-mobile {
    @include heading-small;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: center;
}

@mixin heading-extra-small {
    font-family: $font-display-default;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: left;
}

@mixin heading-extra-small-tablet {
    @include heading-extra-small;
}

@mixin heading-extra-small-mobile {
    @include heading-extra-small;
    font-size: 2rem;
    line-height: 3.6rem;
    text-align: center;
}

@mixin body-text-primary {
    font-family: $font-body-default;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: left;
}

@mixin body-text-primary-tablet {
    @include body-text-primary;
}

@mixin body-text-primary-mobile {
    @include body-text-primary;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
}